body{
	background-color: lightblue;
}

h1{
	color: orange;
	font-size: 90px;
	text-decoration: underline;
}

h2{
	color: orange;
	font-size: 40px;
	text-decoration: underline;
}



#first{
font-style: italic;
}

.small {
	font-size: 20px;
	color: blue;
}

.big {
	font-size: 60px;
	color: red;
}

span{
	font-style: italic;
}

h2 span{
	font-style: normal;
	text-decoration: line-through;
}